.contct-txt h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: #ffffff;
}
.contct-txt p {
  color: #ffffff;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
}
.contct-bg {
  background-image: url(../assets/contct.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.field {
  width: 400px;
  height: 40px;
  background-color: #0b0b0b;
  color: #ffffff;
  border: none !important;
  padding: 5px;
  border-radius: 5px;
}
.field:focus {
  border: none !important;
  outline: none !important;
}
.text-area {
  background-color: #0b0b0b;
  color: #ffffff;
  border: none !important;
  padding: 5px;
  border-radius: 5px;
}
.text-area:focus {
  border: none !important;
  outline: none !important;
}
