.dashbord-txt {
  padding-top: 2rem;
}
.dashbord-txt h1 {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
}
.dashbord-txt p {
  color: #ffffff;
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  padding-right: 30px;
}
