.team-txt h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
}
.team-txt p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
}
.lof-bg {
  background-image: url(../assets/team.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
