.why-txt{
    padding-top: 5rem;
}
.why-txt h1{
    color: #FFFFFF;
    font-family: 'AllRoundGothicW01-Bold';
font-style: normal;
font-weight: 700;
font-size: 50px;
}
.why-txt p{
    color: #FFFFFF;
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 400;
font-size: 20px;
padding-right: 70px;
}