.why-txt {
  padding-top: 6rem;
}
.why-txt h1 {
  color: #ffffff;
  font-family: "AllRoundGothicW01-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}
.why-txt p {
  color: #ffffff;
  font-family: "Hind Vadodara";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  padding-right: 145px;
}
.set-mr {
  margin-left: -50px;
  margin-top: 270px;
}
