.whitepaper {
  img {
    // padding-left: 12rem;
  }
}
.wh-heading {
  font-size: 70px;
}
.sub-whi {
  font-size: 19px;
  font-weight: 600;
}
.white-p {
  font-size: 17px;
  line-height: 30px;
  margin-top: -10px;
  margin-bottom: 40px;
}
