@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: allround-Font;
  src: url(../assets/fonts/All-Round-Gothic-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Hind Vadodara", sans-serif;
  color: white;
  background-color: black;
}
a {
  text-decoration: none;
}
ol,
ul {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: allround-Font !important;
}
button:focus {
  outline: none;
  box-shadow: none !important;
}

/* ********** Navbar css Start ******* */
.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 600;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #d8aaf8;
}
.navbar-dark .navbar-nav .nav-link.active {
  color: #d8aaf8;
}
.nav-btn {
  font-family: allround-Font !important;
  color: white;
  border-color: #d8aaf8;
  border-radius: 8px;
  border-width: 2px;
  padding: 6px 22px;
}
.nav-btn:hover {
  color: white;
  border-color: #d8aaf8;
  background-color: #d8aaf8;
}
/* ********** Navbar css End ******* */
/* ********** Footer css Start ******* */
.fotter-div {
  background-color: #121016;
}
.footer-list li {
  display: inline;
  list-style: none;
}
.footer-list .footer-li .footer-links {
  color: white;
  font-family: "Hind Vadodara", sans-serif;
  padding: 8px;
  font-weight: 500;
}
.copy-right {
  font-weight: 500;
}
/* ********** Footer css End ******* */
